/* Overrides to make the modal full-screen*/
.ant-modal-large {
    width: 0;
    height: 100vh;
    margin: 0;
    top: 0 !important;
    width: 100vw !important;
}
.ant-modal-large
.ant-modal-content {
    margin: 0;
    top: 10px;
   
    height: 100%;
    display: flex;
    flex-direction: column;

}

.ant-modal-large
.ant-modal-body {
    height: calc(100vh - 20px);
    background-color: #282828 !important;
    padding: 15px !important;
}

.ant-modal-large
.ant-modal-footer {
    display: none;
}

.ant-modal-large
.ant-modal-close {
    /* margin-right: 14px; */
}

.ant-modal-large
.ant-modal-close-x {
    color: var(--snow);
    font-size:23px;
}
 
